h1 {color:rgb(221, 19, 130); text-shadow: 2px 2px 5px rgb(92, 91, 90);}

.h1-pink  {color:black; text-align: center;}
button {background:blue; color:white; padding: 5px 15px 5px 15px; border-radius: .5em; border:none;}

.container-1 {border:2px solid black; width: 90%; height:400px; margin-left:auto; margin-right:auto;}



